.content {
    width: 100%;
    margin-top: 3rem;
    
    &__nav-bar {
        width: 100%;
        display: flex;
        justify-content: center;

        a {
            margin: 0 .6rem;
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
            padding: .5rem 1.5rem;

            &:not(.selected):hover {
                color: rgb(212, 160, 4);
                transition: all .6s ease;
            }
        }
        .selected {
            border: 2px solid white;
            border-radius: 5px;

            &:hover {
                color: #F8BC00;
                background-color: white;
                transition: all .6s ease;
            }
        }
    }

    &__songs {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 3rem auto 0 auto;

        &__col {
            width: 30%;
            margin: 0 2rem;

            &__songContainner {
                width: 100%;
                height: 300px;
                margin: 2rem 0;
                display: flex;
                flex-direction: column;

                .song {                 
                    background-size: cover;
                    height: 90%;
                    position: relative;

                    .icons {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.4);
                        width: 100%;
                        padding-left: .3rem;

                        img {
                            height: 2.7rem;
                            cursor: pointer;
                            margin: 0 .2rem;
                        }

                        .clicked {
                            background-color: red;
                            border-radius: 100%;
                        }
                    }
                }

                .title {
                    height: 10%;
                    font-size: 1.4rem;
                    color: white;
                    padding-top: .2rem;
                    cursor: pointer;

                    &:hover {
                        color: rgb(189, 144, 10);
                    }
                }
            }
        }
    }
}